In [18]:
import pandas as pd

In [19]:
import pyarrow.parquet as pq

In [20]:
from sqlalchemy import create_engine

In [21]:
from tqdm.auto import tqdm

In [22]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [23]:
# Read parquet directly from URL
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')

# Create table
df.head(0).to_sql(
    name="green_taxi_data",
    con=engine,
    if_exists="replace"
)
print("Table created")

# Insert data
df.to_sql(
    name="green_taxi_data",
    con=engine,
    if_exists="append"
)
print("Inserted rows:", len(df))

Table created
Inserted rows: 46912

In [24]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')

# Create table
df.head(0).to_sql(
    name="taxi_zone_data",
    con=engine,
    if_exists="replace"
)
print("Table created")

# Insert data
df.to_sql(
    name="taxi_zone_data",
    con=engine,
    if_exists="append"
)
print("Inserted rows:", len(df))

Table created
Inserted rows: 265